<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info">

	<targets>
		<target xsi:type="File"
		        name="allfile"
		        archiveEvery="Month"
		        archiveFileName = "${basedir}/logs_archive/ValloxLogs-{#}.zip"
		        archiveNumbering = "Date"
		        archiveDateFormat = "ddMMyyyy"
		        maxArchiveFiles = "4"
		        enableArchiveFileCompression="true"
		        fileName="${basedir}/logs/ValloxLogs-${shortdate}.log"
		        layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
		<target xsi:type="Console" name="lifetimeConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${uppercase:${level}}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="lifetimeConsole" />
		<logger name="*" minlevel="Trace" levels="info,warn,error,debug,trace,fatal" writeTo="allfile" />
	</rules>
</nlog>